%body
  .container-fluid.p-0{:style => "width:100%;"}
    .row
      =render '/shared/sidebar'
      .col-md-10.p-0
        %header{:style => "height: 70px;  border-bottom: 2px solid #7DB0C9;"}
          %h1.text-center.py-3{:style => "font-size: 36px; color:#282D65;"} 生徒一覧
        .main{:style => "background-color: #757F95; height: 100vh;"}
          .table-responsive.m-auto{:style => "width: 72%; "}
            %table#dataTable.table.table-bordered.table-striped.mt-5.text-center{:cellspacing => "0", :style => "background-color: white;  box-shadow: 2px 2px 4px gray; vertical-align:middle;"}
              %thead
                %tr
                  %th{:style => "width: 16%; color: #282D65;"} ID
                  %th{:style => "width: 44%; color: #282D65;"} 氏名
                  %th{:style => "width: 16%; color: #282D65;"} クラス
                  %th{:style => "width: 8%; color: #282D65;"} 在籍
                  %th{:style => "width: 16%; color: #282D65;"} アクション
              %tbody
                -@students.each do |student|
                  %tr
                    %td{:style => "color: #282D65; vertical-align: middle;"}
                      = student.id
                    %td{:style => "color: #282D65; vertical-align: middle;"}
                      = student.student_name
                    %td{:style => "color: #282D65; vertical-align: middle;"}
                      = student.student_class
                    %td{:style => "color: #282D65; vertical-align: middle;"}
                      = student.student_enabled ? '○' : '-'
                    %td
                      = link_to root_path do
                        %i.far.fa-file.fa-fw{:style => "color: #282D65;"}
                      =link_to root_path do
                        %i.fas.fa-edit.fa-fw{:style => "color: #282D65;"}
                      =link_to student_path(student.id), method: :delete, data: { confirm: '本当に削除しても宜しいですか？', cancel: '閉じる', commit: '削除' } do
                        %i.fas.fa-trash.fa-fw{:style => "color: #282D65;"}
                      
                      -# %a{"data-target" => "#testModal", "data-toggle" => "modal", :href => "#"}
                        -# %i.fas.fa-trash.fa-fw{:style => "color: #282D65;"}
                        -# .modal.fade#testModal{"aria-hidden" => "true", "aria-labelledby" => "basicModal", :role => "dialog", :tabindex => "-1"}
                        -#   .modal-dialog
                        -#     .modal-content
                        -#       .modal-header
                        -#         %h4{:style => "color: #282D65;"} 削除確認画面
                        -#       .modal-body
                        -#         %label{:style => "color: #282D65;"} 本当に削除しても宜しいですか？
                        -#       .modal-footer
                        -#         %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} 閉じる
                        -#         %button.btn.btn-danger{:type => "button"} 削除
                -# = render 'main'

  -# %script{:crossorigin => "anonymous", :integrity => "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", :src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
  -# %script{:crossorigin => "anonymous", :integrity => "sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"}
  -# %script{:crossorigin => "anonymous", :integrity => "sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"}


