%body
  .container-fluid.p-0{:style => "width:100%;"}
    .row
      =render '/shared/sidebar'
      .col-md-10.p-0
        %header{:style => "height: 70px;  border-bottom: 2px solid #7DB0C9;"}
          %h1.text-center.py-3{:style => "font-size: 36px; color:#282D65;"} 生徒一覧
        .main{:style => "background-color: #757F95; height: 100vh;"}
          .table-responsive.m-auto{:style => "width: 72%; "}
            %table#dataTable.table.table-bordered.table-striped.mt-5.text-center{:cellspacing => "0", :style => "background-color: white;  box-shadow: 2px 2px 4px gray; vertical-align:middle;"}
              %thead
                %tr
                  %th{:style => "width: 16%; color: #282D65;"} ID
                  %th{:style => "width: 44%; color: #282D65;"} 氏名
                  %th{:style => "width: 16%; color: #282D65;"} クラス
                  %th{:style => "width: 8%; color: #282D65;"} 在籍
                  %th{:style => "width: 16%; color: #282D65;"} アクション
              %tbody
                -@students.each do |student|
                  %tr
                    %td{:style => "color: #282D65; vertical-align: middle;"}
                      = student.id
                    %td{:style => "color: #282D65; vertical-align: middle;"}
                      = student.student_name
                    %td{:style => "color: #282D65; vertical-align: middle;"}
                      = student.student_class
                    %td{:style => "color: #282D65; vertical-align: middle;"}
                      = student.student_enabled ? '○' : '-'
                    %td
                      = link_to root_path do
                        %i.far.fa-file.fa-fw{:style => "color: #282D65;"}
                      =link_to root_path do
                        %i.fas.fa-edit.fa-fw{:style => "color: #282D65;"}
                      %a.btn{"data-target" => "#testModal", "data-toggle" => "modal", :href => "#"}
                        %i.fas.fa-trash.fa-fw{:style => "color: #282D65;"}
                -# = render 'main'

  %script{:crossorigin => "anonymous", :integrity => "sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", :src => "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
  %script{:crossorigin => "anonymous", :integrity => "sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"}
  %script{:crossorigin => "anonymous", :integrity => "sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy", :src => "https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"}

-# .card.shadow.mb-4
-#   .card-header.py-3.d-flex
-#     %h2.m-0.pr-4.font-weight-bold.text-primary 生徒一覧
-#     %a.btn.btn-primary{:href => "#"}
-#       =icon("fas","user-plus")
-#   .card-body
-#     .table-responsive
-#       %table#dataTable.table.table-bordered{cellspacing: "0", width: "100%"}
-#         %thead
-#           %tr
-#             %th ID
-#             %th 氏名
-#             %th クラス
-#             %th 有効
-#             %th アクション
-#         -# %tfoot
-#         -#   %tr
-#         -#     %th ID
-#         -#     %th 氏名
-#         -#     %th クラス
-#         -#     %th 有効
-#         -#     %th アクション
-#         %tbody
-#           %tr
-#             %td 1
-#             %td 山田　太郎
-#             %td 中3A
-#             %td ○
-#             %td.d-flex.border-0.mt-1.col-12
-#               =icon("far","file",class: "pr-4 fa-lg")
-#               =icon("fas","edit",class: "pr-4 fa-lg")
-#               =icon("fas","trash",class: "pr-4 fa-lg")
-#           %tr
-#             %td 2
-#             %td 田中　次郎
-#             %td 中3B
-#             %td ○
-#             %td
-#           %tr
-#             %td 3
-#             %td 佐藤　三郎
-#             %td 中2A
-#             %td ○
-#             %td
-#           %tr
-#             %td 4
-#             %td 鈴木　花子
-#             %td 中3A
-#             %td -
-#             %td
-#           %tr
-#             %td 5
-#             %td 高橋　四郎
-#             %td 中1A
-#             %td ○
-#             %td
-#           %tr
-#             %td 6
-#             %td 山本　一郎
-#             %td 中3A
-#             %td ○
-#             %td
