.container-fluid.p-0{:style => "width: 100%; height: 100vh;"}
  / Outer Row
  .row
    =render '/shared/sidebar'
    .col-md-10.p-0
      %header{style: "height: 70px;  border-bottom: 2px solid #7DB0C9;"}
        %h1.text-center.py-3{style: "font-size: 36px; color:#282D65; background-color: #F8FAF9;"} 生徒新規登録
      .main.pt-5{:style => "background-color: #757F95; height: 100vh;"}
        .table-responsive.m-auto{:style => "width: 72%; display: flex; box-shadow: 2px 2px 4px gray;"}
          =image_tag 'register.jpg',{style: "width: 50%;"}
          %div{:style => "width: 50%; background-color: #F8FAF9;"}
            .p-5
              .text-center
                %h1.h4.mb-4{:style => "color: #282D65;"} 生徒新規登録
              .user
                = form_for @student,html: {class: 'm-0 mb-1'} do |f|
                  .form-group
                    = f.text_field :student_name, {class: 'form-control form-user',:placeholder => "生徒氏名", :style => "border-radius: 5px;", :type => "text"}                    
                  .form-group
                    = f.text_field :student_class, {class: 'form-control form-user',:placeholder => "クラス", :style => "border-radius: 5px;", :type => "text"}                    
                  .form-group
                    = f.text_field :parent_name, {class: 'form-control form-user',:placeholder => "保護者氏名", :style => "border-radius: 5px;", :type => "text"}                    
                  .form-group
                    .custom-control.custom-checkbox.small
                      = f.check_box :student_enabled
                      = f.label '在籍中'
                  = f.submit '登録', class: 'h-25 btn register-btn btn-google btn-block'
                = link_to 'キャンセル',root_path, class: 'h-25 btn btn-google btn-user btn-block'
                  