.ios_wrapper
  .container
    .header-items.d-flex
      .student_info
        %input#ios_student_id{name: 'ios_student_id',type: 'text', value: ''}
        %span#ios_student_name.ml-4
      %span#ios_time
    = form_with model: @io, url: checkin_ios_path, html: {id: 'form_checkin',class: 'd-none'} do |f|
      .ios-header
        =f.hidden_field :student_id,id: "ios_student_id-checkin"
      = f.submit "  入室する", id: "ios_enter",class: "fas ios_button"
    = form_with model: @io,url: checkout_ios_path, html: {id: 'form_checkout', class: 'd-none'} do |f|
      .ios-header
        =f.hidden_field :student_id,id: "ios_student_id-checkout"
      = f.submit "退室する  ", id: "ios_exit",class: "fas ios_button"
    = link_to 'キャンセル', new_io_path, id:'ios_cancel', class: 'fas ios_button btn'
= javascript_include_tag 'ios.js'